* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
button {
  cursor: pointer;
  border: none;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: rgb(9, 157, 9);
  color: #fff;
  font-size: medium;
  &:active {
    transform: scale(0.97);
  }
  &:disabled {
    background-color: rgba(9, 157, 9, 0.761);
  }
}
input {
  outline: none;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgb(9, 157, 9);
  width: 120px;
}
.app {
  margin-top: 200px;
}
.counter {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 16px;
  margin-bottom: 30px;
  margin-top: 50px;
}
.reset {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
}
h3 {
  padding: 12px 36px;
  border-radius: 8px;
  background-color: bisque;
}

.incement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.decrement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
